body {
  margin: 0;  
  background: url(../asset/imgs/bg-world-2@2x.png),
  rgba(15, 21, 35, 1);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Login page */
#login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#form-box {
  max-width: 380px;
  width: 100%;
}



