body {
  margin: 0;  
  background: url(../asset/imgs/bg-world-2@2x.png),
  rgba(15, 21, 35, 1);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Login page */
#login {
  display: flex;
  height: 100vh;
  /*justify-content: center;*/
  /*align-items: center;*/
  flex-direction: column;
}
header {
  display: flex;
  padding: 10px 70px;
}
ul {
  padding: 0;
  list-style-type: none;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 30px 0 30px;
}
.banner.bg-pd {
  padding: 250px 30px 0 30px;
}
.sendit-text {
  text-align: center;
}

#form-box {
  max-width: 400px;
  width: 100%;
}

/*Media queries*/
@media (max-width: 491px) and (min-width: 0) {
  #login {
    padding: 10px;
  }
  .banner {
    padding: 70px 0 0 0;
  }
  header {
    flex-direction: column;
    padding: 10px;
  }
  header > ul:nth-child(2) {
    margin-left: 0;
  }
  .banner.bg-pd {
    padding: 180px 30px 0 30px;
  }
}

@media (max-width: 600px) and (min-width: 491px) {
  .banner.bg-pd {
    padding: 150px 30px 0 30px;
  }
}

@media (min-width: 768px) {
  .sendit-text {
    width: 70%;
  }
  .banner.bg-pd {
    padding: 185px 30px 0 30px;
  }
}



