@font-face {
  font-family: rubikBold;
  src: url(../asset/fonts/Rubik-Bold.ttf);
}
@font-face {
  font-family: rubikMedium;
  src: url(../asset/fonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: rubikRegular;
  src: url(../asset/fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: rubikLightItalic;
  src: url(../asset/fonts/Rubik-LightItalic.ttf);
}

body {
  font-family: 'rubikRegular', sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}
h1, h3, h4 {
  font-family: 'rubikBold', sans-serif;
  font-size: 2.5rem;
}
h2, h5 {
  font-family: 'rubikBold', sans-serif;
}

/* Login */
#login a, #sign-up a {
  font-size: 0.75rem;
}
#login li a {
  font-size: 1rem;
}
#login h5 {
  margin: 20px 10px;
  font-size: 1.6rem;
  font-family: 'rubikRegular', sans-serif;
}
#login p {
  line-height: 1.6;
}

/* Dashboard */
nav li {
  font-family: 'rubikMedium', sans-serif;
  color: rgba(51, 51, 51, 1) !important;
}
aside a {
  font-size: 0.9rem;
  font-family: 'rubikMedium', sans-serif;
}
#content-info a {
  color: rgba(255, 255, 255, 1);
  font-family: 'rubikBold', sans-serif;
}

/*Table*/
#table-info a {
  font-size: 1.1rem;
  letter-spacing: 3px;
  color: rgba(35, 172, 76, 1);
  border-bottom: 1px solid rgba(35, 172, 76, 1);
  font-family: 'rubikMedium', sans-serif;
}
td {
  font-size: 0.85rem;
}

/*Parcel Details*/
#details h6, #details p {
  font-size: 1rem;
  margin: 1rem;
}

/*Modal*/
.modal-content h6 {
  font-size: 0.85rem;
}
.modal-content h5 {
  font-family: 'rubikMedium', sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: normal;
}


/* styling the placeholders */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'rubikLightItalic',
    sans-serif;
  font-size: 0.75rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'rubikLightItalic',
    sans-serif;
  font-size: 0.75rem;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'rubikLightItalic',
    sans-serif;
  font-size: 0.75rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'rubikLightItalic',
    sans-serif;
  font-size: 0.75rem;
}


/* colors */
.bg-blue {
  background-color: rgba(15, 21, 35, 1);
}
.bg-bright-blue {
  background-color: rgba(49, 135, 210, 1);
}
.blue {
  color: rgba(0, 167, 185, 1)
}
.green {
  color: rgba(35, 172, 76, 1);
}
.red {
  color: rgba(239, 12, 51, 1);
}
.grey {
  color: rgba(51, 51, 51, 1);
}
.white, .white:hover {
  color: rgba(255, 255, 255, 1);
}
.white-3 {
  color: rgba(255, 255, 255, .3);
}


/*Media Quries*/
@media (max-width: 491px) and (min-width: 0) {
  body {
    font-size: 13px;
  }
  #table-info a {
    font-size: 0.8rem;
  }
  td {
    font-size: 0.7rem;
  }
  #details h6, #details p {
    font-size: 0.7rem;
  }
  h1, h3, h4 {
    font-size: 1.5rem;
  }
  #details_btns > a {
    font-size: 0.65rem;
  }
  #login h5 {
    margin: 20px 0;
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) and (min-width: 491px) {
  body {
    font-size: 15px;
  }
  #details h6, #details p {
    font-size: 0.9rem;
  }
  .modal-content h5 {
    font-size: 0.8rem;
  }
  h1, h3, h4 {
    font-size: 1.8rem;
  }
}
@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
  #table-info a {
    font-size: 1rem;
  }
  td {
      font-size: 0.85rem;
  }
}