/* 
***
  My Custom built grid
***
*/

/* ----------- Grid -------------- */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.relative {
  position: relative;
}

.md,
.md-1,
.md-2,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9,
.md-10,
.md-11,
.md-12 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .md-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .md-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .md-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .md-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .md-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .md-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .md-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .md-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}



/* --------- Display ---------- */

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

/* -------- Spacing Utilities ---------- */

.content-center {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.content-end {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.content-start {
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.items-start {
  -ms-flex-align: start;
  align-items: flex-start;
}

.items-center {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.items-end {
  -ms-flex-align: end;
  align-items: flex-end;
}

/* -------- Sizes -------- */

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}



