body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: minmax(250px, 260px) 1fr;
  grid-template-rows: 100vh;
}

#menu {
  padding: 30px 22px 30px 17px;
  /*height: 110vh;*/
  box-sizing: border-box;
  height: auto;
  position: fixed;
  width: 258px;
  top: 0;
  bottom: 0;
}
.menu-ico {
  width: 20px;
  height: auto;
  vertical-align: middle;
}

nav {
  padding: 10px 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 6px 25px;
  display: flex;
  align-items: center;
}
nav > ul > li {
  display: inline-block;
}

ul {
  padding: 0;
}
#menu ul > li {
  display: block;
  padding-bottom: 10px;
}
#menu > ul > li{
  padding: 20px 0;
}
#menu img {
  margin-right: 15px;
}
#aside-profile {
  margin-left: 35px;
}
#menu ul > ul {
  padding-left: 39px;
}

main > section > #main-content-page {
  padding: 15px 25px;
}
#main-content-page {
  max-width: 900px;
  margin: auto;
}
#info-cont {
  display: flex;
  justify-content: space-between;
}
.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 220px;
  min-width: 150px;
  height: 70px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 6px 25px;
}
.dash-img {
  width: 300px;
  height: 288px;
}
#content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 0 0;
}

/*Table*/
.dash-cont {
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 25px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 6px;
}
#table-info {
  display: flex;
  border-bottom: 1px solid rgba(112, 112, 112, .5);
}
#table-info a {
  padding: 17px 30px;
  margin: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
#table-cont {
  overflow: auto;
}
#table-head {
  height: 50px;
}
td, th {
  text-align: left;
}
td, th {
  padding: 10px;
}
tr:nth-child(even) {
  background-color: rgba(235, 239, 248, 1);
}

/*parcel-detail*/
#parcel > div:first-child {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}
#parcel-ico {
  width: 180px;
  height: auto;
  margin: auto;
}

.parcel-details {
  width: 50%;
  flex: 1 0 auto;
}

.parcel-details .parcel-title {
  min-height: 50px;
  line-height: 50px;
}

.parcel-details .parcel-footer-btns {
  display: flex;
  justify-content: flex-start;
}

.parcel-details #details div > * {
  margin: 0;
  padding: 10px 50px 10px 5px;
}

#details {
  justify-content: flex-start;
  display: flex;
}

#map {
  width: 300px;
  height: 535px;
}

/*User Profile*/
#user-cont {
  border-radius: 6px;
  width: 100%;
}
#user-profile {
  min-height: 150px;
}
#user-img {
  width: 140px;
  height: auto;
}
#user-desc {
  flex: 0 1 30%;
  padding: 20px;
}
#user-desc h4 {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
#user-desc > img {
  margin: auto;
  display: block;
}
#user-info {
  flex: 0 1 70%;
  padding: 20px 40px;
}
#user-info h4 {
  margin: 0;
}


/* For responsiveness */
.toggler {
  width: 20px;
  height: auto;
  display: none;
}

.toggled-nav {
  height: auto;
  z-index: 1;
  top: 0;
  bottom: 0;
}

.toggled-nav > #menu {
  width: 255px;
}


/*Modal*/
.modal-box {
  max-width: 500px;
  background-color: rgba(15, 21, 35, 1);
  border-radius: 4px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.modal-content {
  padding: 20px;
}
label {
  padding-bottom: 5px;
  display: inline-block;
}




/* Media Queries */

@media (max-width: 767px) {
  main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh;
  }
  aside {
    visibility: hidden;
    position: absolute;
    transition: all .3s;
    left: 0; top: 0;
    opacity: 0;
  }
  
  aside.fade-in {
    opacity: 1;
    visibility: visible;
  }
  
  .toggler {
    display: block;
  }
}

@media (max-width: 600px) {
  #parcel {
    flex-direction: column;
  }
  #parcel-ico {
    width: 120px;
  }
  .modal-box {
    max-width: 400px;
  }
}

@media (max-width: 491px) and (min-width: 0) {
  .info-box {
    min-width: 75px;
  }
  .toggler {
    width: 10px;
  }
  nav {
    padding: 10px 15px;
  }
  .toggled-nav > #menu {
    width: 200px;
  }
  nav li:first-child {
    margin-right: 10px;
  }
  .modal-box {
    max-width: 300px;
  }
  #details > div:first-child {
    margin-right: 0px;
  }
  #details_btns > a {
    margin-right: 3px;
  }
  #details_btns .is-outlined-blue {
    line-height: 31px;
  }
#user-info {
    padding: 5px 20px;
  }
  #user-img {
    width: 80px;
  }
  #user-desc h4 {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
  }
  #user-desc h5 {
    margin: 10px;
  }
  #user-desc {
    padding: 2px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.27);
    border-right: none;
  }
  main > section > #main-content-page {
    padding: 25px 5px;
  }
  #user-info h1 {
    margin-bottom: 2.5rem;
  }
  #user-info > div {
    margin-bottom: 5rem;
  }
  .btn.lg {
    padding: 0 2em;
  }
  #user-cont {
    flex-direction: column;
  }
  nav.mb-60 {
    margin-bottom: 30px;
  }
  #profile-modal button {
    margin-right: 20px;
  }
  #parcel h4 {
    margin-bottom: 5px;
  }
  #parcel .btn.sm.bg-blue {
    margin-right: 8px;
  }
  #parcel .btn.sm.is-outlined-blue {
   line-height: 32px;
  }
  .dash-cont {
    box-shadow: none; 
    border: none; 
  }
  #info-cont {
    padding: 0 10px;
  }
}

@media (max-width: 600px) and (min-width: 491px) {
  .info-box {
    min-width: 120px;
  }
  .toggler {
    width: 14px;
  }
  main > section > #main-content-page {
    padding: 15px 15px;
  }
  #user-desc {
    padding: 20px 5px;
  }
  #user-img {
    width: 93px;
  }
  #user-info {
    padding: 20px 15px;
  }
  .dash-img {
    width: 275px;
    height: 273px;
  }
  #content-info {
    padding: 40px 0 0 0;
  }
}

@media (min-width: 600px) {
  #parcel {
    flex-direction: column;
  }
  #parcel-ico {
    width: 150px;
  }
  #user-img {
    width: 90px;
  }
  .dash-img {
    width: 235px;
    height: 233px;
  }
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: minmax(250px, 260px) 1fr;
    grid-template-rows: 100vh;
  }
  aside {
    display: block;
  }
  .toggler {
    display: none;
  }
  .info-box {
    padding: 0;
  }
  #user-info {
    padding: 5px 5px;
  }
  .dash-img {
    width: 265px;
    height: 263px;
  }
  #user-img {
    width: 88px;
    height: auto;
  }
  main > section > #main-content-page {
    padding: 15px 5px;
  }
}

@media (min-width: 992px) {
  .info-box {
    width: 100%;
    padding: 3px;
  }
  #parcel {
    flex-direction: row;
  }
  #content-info {
    padding: 40px 0 0 0;
  }
  #user-info {
    padding: 20px 40px;
  }
  #user-img {
    width: 140px;
  }
}

@media (min-width: 1200px) {
  .info-box {
    padding: 10px;
  }
}


